name: "Tests"

on: [pull_request]
jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v2

    - name: Start Test Stack
      env:
          TESTS_GITHUB_PRIVATE_KEY: ${{ secrets.TESTS_GITHUB_PRIVATE_KEY }}
          TESTS_GITHUB_APP_IDENTIFIER: ${{ secrets.TESTS_GITHUB_APP_IDENTIFIER }}
          TESTS_GITHUB_INSTALLATION_ID: ${{ secrets.TESTS_GITHUB_INSTALLATION_ID }}
      run: |
        docker compose up -d
        sleep 15

    - name: Doctor
      run: |
        docker compose logs
        docker ps
        docker network ls

    - name: Run Tests
      run: |
        docker compose exec -T tests vendor/bin/phpunit --configuration phpunit.xml tests